/* add css module styles here (optional) */

.clockContainer {
  height: 60em;
}

.clock {
  display: grid;
  grid-template-columns: 15em 1em 15em;
  column-gap: 1rem;
  padding: 2rem;
}

.section,
.colon {
  position: relative;
}

.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  justify-self: center;
  box-sizing: border-box;
}

.digitContainer,
.digit {
  position: relative;
}
.digit {
  display: grid;
}

.colonDot {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
}

.colonDot:first-child {
  top: 20%;
}
.colonDot:last-child {
  top: 60%;
}

.svgSeg {
  width: 89%;
  height: auto;
  position: absolute;
}
/* top */
.svgSeg:nth-child(1) {
}
/* top left */
.svgSeg:nth-child(2) {
  left: -3.15em;
  top: 3.2em;
}
/* top right */
.svgSeg:nth-child(3) {
  right: -2.4em;
  top: 3.2em;
}
/* middle */
.svgSeg:nth-child(4) {
  top: 6.4em;
}
/* bottom left */
.svgSeg:nth-child(5) {
  left: -3.15em;
  top: 9.55em;
}
/* bottom right */
.svgSeg:nth-child(6) {
  right: -2.4em;
  top: 9.55em;
}
/* bottom */
.svgSeg:nth-child(7) {
  top: 12.8em;
}

.segOn > g {
  fill: rgb(29, 26, 43);
}
.segOff > g {
  fill: purple;
}

.standing {
  rotate: 90deg;
}

.laying {
}
